
/******************************
 COLORS
 ==============================
******************************/

$white: #FFFFFF;
$grey-1: #FBF5FF;
$grey-2: #BDB9C0;
$grey-3: #E2DCE6;
$grey-4: #7D7A80;
$charcol: #3F3D40;
$black: #000000;

/******************************
 Breakpoints
 ==============================
******************************/

$tablet-view: 1024px;
$mobile-view: 520px; 
