@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700,700i&display=swap');

/******************************
 COLORS
 ==============================
******************************/

$white: #FFFFFF;
$grey-1: #F1F1F1;
$grey-2: #D8D8D8;
$grey-3: #BDBDBD;
$grey-4: #7D7A80;
$charcol: #3F3D40;
$black: #000000;


$summer-vegetable: #EAAF8C; 
$summer-vegetable-peak: #E47431; 
$winter-vegetable: #B4E2CD; 
$winter-vegetable-peak: #B4E2CD;
$greens: #C8D09A; 
$greens-peak: #B2C829; 
$squash: #FFE4A9; 
$squash-peak: #FFD93F; 
$aromatic: #AFD0DB; 
$aromatic-peak: #88CBE0; 
$fungi: #BFAD94; 
$fungi-peak: #8A6A40; 
$legume: #E6FAAC; 
$legume-peak: #B3ED00; 
$root: #EADE92; 
$root-peak: #F1D730; 
$other: #B3DBA4; 
$other-peak: #B3DBA4; 



/******************************
 Breakpoints
 ==============================
******************************/

$tablet-view: 1024px;
$mobile-view: 580px;
