@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700,700i&display=swap');

/******************************
 COLORS
 ==============================
******************************/

$white: #FFFFFF;
$grey-1: #F1F1F1;
$grey-2: #D8D8D8;
$grey-3: #BDBDBD;
$grey-4: #7D7A80;
$charcol: #3F3D40;
$black: #000000;

$early: #F3EB90;
$peak: #B1D095;
$late: #F3D790;

/******************************
 Breakpoints
 ==============================
******************************/

$tablet-view: 1024px;
$mobile-view: 520px;
