/**
 *COLOR THEME
  white: #FBF5FF
  grey-1: #BDB9C0
  grey-2: #E2DCE6
  grey-3: #7D7A80
  black: #3F3D40
**/



body {
  margin: 0px;
  padding: 0px;
}

.app {
  display: grid;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  grid-gap: 4px;
  grid-template-columns: 280px 1fr;
  background-color: #FFF;
}

.app .sidebar {
  grid-column-start: 1;
  grid-column-end: 2;
  height: 100%;
  background-color: #E2DCE6;
}

.app .main {
  grid-column-start: 2;
  grid-column-end: 3;
  height: 100%;
  background-color: #FBF5FF;
}
