.calendar-header {
  display: grid;
  grid-gap: 1px;
  grid-template-columns: 33% repeat(12, 1fr);
  grid-template-rows: 50px 30px;
}

.calendar .header-cell {
  background-color: #7F7F7F;
}

.header-cell.cell-label {
  order: -1; 
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
}

.header-cell.cell-1 {
  order: 1;
  grid-column-start: 2;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 2;
  text-align: center;
}

.header-cell.cell-2 {
  order: 2;
  grid-column-start: 5;
  grid-column-end: 8;
  grid-row-start: 1;
  grid-row-end: 2;
  text-align: center;
}

.header-cell.cell-3 {
  order: 3;
  grid-column-start: 8;
  grid-column-end: 11;
  grid-row-start: 1;
  grid-row-end: 2;
  text-align: center;
}

.header-cell.cell-4 {
  order: 4;
  grid-column-start: 11;
  grid-column-end: 14;
  grid-row-start: 1;
  grid-row-end: 2;
  text-align: center;
}

.sub-header-cell {
  background-color: red;
  text-align: center;
}

.sub-header-cell.cell-1 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;
}
