.calendar-row {
  display: grid;
  grid-gap: 1px;
  height: 50px;
  grid-template-columns: 33% repeat(12, 1fr);
}

.calendar-cell {
  text-align: center;
}

.calendar-cell.cell-1 {
  text-align: left;
}
