@import '__theme.scss';

.calendar {
  width: 95%;
  margin: 2% auto 10px auto;
  overflow: hidden;
  background-color: #ededed;
  border: solid 2px $charcol;
  @media (max-width: $mobile-view) {
    display: none;
  }
}

.calendar-body {
  max-height: 80vh;
  overflow: scroll;
  border-top: solid 2px $charcol;
  @media (max-width: $tablet-view) {
    max-height: 60vh;
  }
}
