.calendar-row {
  display: grid;
  grid-gap: 1px;
  height: 50px; 
  grid-template-columns: repeat(18, 1fr);
}

.calendar-cell {
  text-align: center;
}

.calendar-cell.cell-1 {
  text-align: left;
  grid-column-start: 1;
  grid-column-end: 7;
}
