@import '__theme.scss';

.calendar {
  width: 95%;
  margin: 2% auto 2% auto;
  overflow: hidden;
  background-color: #ededed;
  border: solid 1px $charcol;
}

.calendar-body {
  max-height: 80vh;
  overflow: scroll;
  @media (max-width: $tablet-view) {
    max-height: 60vh;
  }
}
