@import '__theme.scss';

.calendar-header {
  display: grid;
  grid-gap: 2px;
  background-color: $charcol;
  grid-template-columns: 26% repeat(12, 1fr);
  grid-template-rows: 50px 30px;
}

.calendar .header-cell {
  padding-top: 10px;
  background-color: $grey-4;
  color: $white;
  font-size: 16px;
  font-weight: bold;
}

.header-cell.cell-label {
  order: -1;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
  text-align: left;
  padding-left: 20px;
  color: $grey-1;
  font-size: 16px;
  font-weight: bold;
}

.header-cell.cell-1 {
  order: 1;
  grid-column-start: 2;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 2;
  text-align: center;
}

.header-cell.cell-2 {
  order: 2;
  grid-column-start: 5;
  grid-column-end: 8;
  grid-row-start: 1;
  grid-row-end: 2;
  text-align: center;
}

.header-cell.cell-3 {
  order: 3;
  grid-column-start: 8;
  grid-column-end: 11;
  grid-row-start: 1;
  grid-row-end: 2;
  text-align: center;
}

.header-cell.cell-4 {
  order: 4;
  grid-column-start: 11;
  grid-column-end: 14;
  grid-row-start: 1;
  grid-row-end: 2;
  text-align: center;
}

.sub-header-cell {
  background-color: $grey-2;
  text-align: center;
}


.sub-header-cell:hover {
  cursor: pointer;
  font-weight: bold;
}

.sub-header-cell.active {
  background-color: $charcol;
  color: $white;
  font-weight: bold;
}

.sub-header-cell.label-cell {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;
}
