@import '__theme.scss';

.calendar-row {
  display: grid;
  grid-template-columns: 26% repeat(12, 1fr);
  grid-template-rows: 50px;
}

.calendar-row:hover {
  border-top: inset 2px $charcol;
  border-bottom: inset 2px $charcol;
}

.calendar-cell.cell-label {
  order: -1;
  text-align: left;
  padding-left: 20px;
  color: $charcol;
  font-size: 16px;
  background-color: $white;
}

.calendar-cell.cell-1 {
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 2;
  grid-column-end: 3;
}

.calendar-cell.cell-2 {
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 3;
  grid-column-end: 4;
}

.calendar-cell.cell-3 {
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 4;
  grid-column-end: 5;
}

.calendar-cell.cell-4 {
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 5;
  grid-column-end: 6;
}

.calendar-cell.cell-5 {
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 6;
  grid-column-end: 7;
}

.calendar-cell.cell-6 {
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 7;
  grid-column-end: 8;
}

.calendar-cell.cell-7 {
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 8;
  grid-column-end: 9;
}

.calendar-cell.cell-8 {
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 9;
  grid-column-end: 10;
}

.calendar-cell.cell-9 {
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 10;
  grid-column-end: 11;
}

.calendar-cell.cell-10 {
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 11;
  grid-column-end: 12;
}

.calendar-cell.cell-11 {
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 12;
  grid-column-end: 13;
}

.calendar-cell.cell-12 {
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 13;
  grid-column-end: 14;
}
