@import '__theme.scss';

.calendar-cell {
  text-align: center;
  padding-top: 15px;
  @media(max-width: $tablet-view) {
  padding-top: 8px; 
  }
  .icon {
    text-align: center;
    width: 33%;
    margin: 0px auto;
  }
}

.calendar-cell.cell-label {
  padding-top: 5px;
  p {
    font-size: 14px;
    margin: 0px; 
  }
  small {
    font-size: 12px;
    color: $grey-4; 
  }
  @media (max-width: $tablet-view) {
    padding-top: 10px;
    small {
      display: none;
    }
  }
}


.calendar-cell.price {
  padding-top: 8px;
  font-size: 14px;
  &.none {
    padding-top: 15px;
    font-size: 16px;
  }
  span { display: block; font-size: 11px}

}

.calendar-cell {
  &.winter-vegetable { 
    background-color: $winter-vegetable; 
    color: darken($color: $winter-vegetable, $amount: 50); 
    border: solid 1px darken($color: $winter-vegetable, $amount: 20); 
  }
  &.summer-vegetable { 
    background-color: $summer-vegetable; 
    color: darken($color: $summer-vegetable, $amount: 50); 
    border: solid 1px darken($color: $summer-vegetable, $amount: 20); 
  }
  &.greens { 
    background-color: $greens; 
    color: darken($color: $greens, $amount: 50); 
    border: solid 1px darken($color: $greens, $amount: 20); 
  } 
  &.aromatic { 
    background-color: $aromatic; 
    color: darken($color: $aromatic, $amount: 50); 
    border: solid 1px darken($color: $aromatic, $amount: 20); 
  }
  &.fungi { 
    background-color: $fungi; 
    color: darken($color: $fungi, $amount: 50); 
    border: solid 1px darken($color: $fungi, $amount: 20); 
  }
  &.root { 
    background-color: $root; 
    color: darken($color: $root, $amount: 50); 
    border: solid 1px darken($color: $root, $amount: 20); 
  }
  &.legume { 
    background-color: $legume; 
    color: darken($color: $legume, $amount: 50); 
    border: solid 1px darken($color: $legume, $amount: 20); 
  }
  &.other { 
    background-color: $other; 
    color: darken($color: $other, $amount: 50); 
    border: solid 1px darken($color: $other, $amount: 20); 
  }
  
  &.squash { 
    background-color: $squash;
    color: darken($color: $squash, $amount: 50); 
    border: solid 1px darken($color: $squash, $amount: 20); 
  }
  
  &.none { 
    background-color: $grey-1; 
    border: solid 1px darken($color: $grey-1, $amount: 20); 
  }
  &.active {
    
  }

}
