@import '__theme.scss';

.calendar-cell {
  text-align: center;
  padding-top: 15px;
  // border-top: solid 1px $grey-4;
  // border-right: solid 1px $grey-4;

  .icon {
    text-align: center;
    width: 80%;
    margin: 0px auto;
  }

  .status {
    display: none;
  }
}

.calendar-cell:hover {
  cursor: pointer;
  .icon {
    display: none;
  }
  .status {
    display: block;
  }
}

.calendar-cell.active {
  font-weight: bold;
  color: $charcol;
  border-left: outset 2px $charcol;
  border-right: outset 2px $charcol;
}

.calendar-cell.price {
  padding-top: 8px;
  font-size: 14px;
  &.none {
    padding-top: 15px;
    font-size: 16px;
  }
  span { display: block; font-size: 11px}

}


.calendar-cell.early {
  background-color: $early;
  color: darken($early, 50);
}

.calendar-cell.peak {
  background-color: $peak;
  color: darken($peak, 30);
}

.calendar-cell.late {
  background-color: $early;
  color: darken($early, 50);
}

.calendar-cell.none, .calendar-cell.off {
  background-color: $grey-2;
}
