@import '__theme.scss';

.search-field {
  margin: 20px 0px;
  input {
    color: $grey-1;
    font-size: 14px;
    width: 80%;
    padding: 6px 6px 6px 2px;
    background-color: transparent;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: solid 2px $grey-1;
  }
  input::placeholder {
    color: $grey-1;
  }
  input:focus {
    outline-width: 0;
  }
}
