@import '__theme.scss';

.sidebar {
  padding: 40px 22px;
  background-color: $grey-2;
  h2 {
    margin: 0px;
  }
  h4 {
    margin: 10px 0px;
  }
  span {
    font-size: 13px;
  }
  hr {
    border: solid 1px #C3C3C3; 
  }
  .menu-item {
    margin: 10px 0px;
    a {
      font-size: 13px;
    }
  }

}
